@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Variable.ttf");
  }


@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.otf");
  }

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

.Blog{
    width: 89%;
    height: 400px;
    margin-left: 80px;
    margin-top: 50px;
    background-color: #002099;
}

.Blog-1{
    display: inline-block;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    
}

.Blog-1, h2{
    color: #FFFFFF;
    font-family: 'Clash Display Variable';
    font-size: 30px;
    font-weight: 400;
    line-height: 36.9px;
    margin-top: 40px;
}

.Blog-1 h3{
    color: #FFFFFF;
    font-family: 'Clash Display Variable';
    font-size: 65px;
    font-weight: 600;
    line-height: 79.95px;
    margin-top: 10px;
    margin-left: 30px;
}

.pman p{
    margin-top: 30px;
    width: 55%;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 90px;
    color: #FFFFFF;
}

.girl{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.study{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 20px;
}

.study, img{
      margin-left: 30px;
}

.outside button{
    background-color: #1178FF;
    padding: 10px 25px 10px 10px;
    border-radius: 4px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.08px;
    outline: none;
    border: none;
    width: 250px;
    position: relative;
    right: 13px;
    color: #FFFFFF;
    margin-top: 10px
}


.outside button img{
    margin-top: 10px;
}


.outside{
    padding: 10px;
    margin-top: 10px;
    height: 400px;
    width: 90%;
    margin-left: 40px;
}

.outside h2{
    font-family: 'Mulish', sans-serif;
    color: #1C0A00;
    font-weight: 700;
    position: relative;
    right: 21px;
    margin-top: 5px;
    font-size: 25px;
    line-height: 31.38px;
}

.outside img{
    margin-top: 30px;
}

.outside p{
    color: #1C0A00;
    position: relative;
    right: 5px;
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.study-two{
    display: flex;
    justify-content: start;
}



.R10{
    height: 500px;
    margin-top: 100px;
    color: #fff;
    background-color: #00070F;
}

.sub-R10{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.cat{
    text-align: center;
    margin-top: 20px;
}

.cat p{
    width: 60%;
    font-family:'Mulish', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 300px;
    line-height: 25.1px
}

.life{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 30px 500px;
    width: 20%;
}

.wolf h1{
    text-align: center;
    align-items: center;
}

.wolf p{
    color:#FFFFFF;
    font-family:'Mulish', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.08px;
    text-align: center;
    align-items: center;
}


.linked, .twitter, .face, .insta{
    border: 2px solid;
    border-radius: 500px;
    padding: 5px;
}

.finally{
    background-color: #002099;
    height: 80px;
    color: #ffff;
    padding: 30px 50px;
}





@media screen and (max-width: 500px){
    
    .Blog{
        width: 100%;
        height: 500px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #002099;
    }
    
    .Blog-1{
        display: inline-block;
        justify-content: center;
        margin-top: 50px;
        margin-left: 0px;
        
    }

    .outside button{
        background-color: #1178FF;
        padding: 10px 25px 10px 10px;
        border-radius: 4px;
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 20.08px;
        outline: none;
        border: none;
        width: 250px;
        position: relative;
        right: 40px;
        color: #FFFFFF;
        margin-top: 10px
    }


    .outside{
        padding: 10px;
        height: 330px;
        width: 100%;
        margin-left: 20px;
    }
    
    .outside h2{
        font-family: 'Mulish', sans-serif;
        color: #1C0A00;
        font-weight: 700;
        position: relative;
        right: 50px;
        margin-top: 5px;
        font-size: 25px;
        line-height: 31.38px;
    }
    
    .outside, img{
        margin-top: 30px;
    }
    
    .outside p{
        width: 100%;
        color: #1C0A00;
        position: relative;
        right: 30px;
        margin-top: 10px;
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
    }

    .study img{
        margin-right: 30px;
    }
    
    .Blog-1, h2{
        color: #FFFFFF;
        font-family: 'Clash Display Variable';
        font-size: 30px;
        font-weight: 400;
        line-height: 36.9px;
        margin-top: 30px;
    }

    
    .Blog-1 h3{
        color: #FFFFFF;
        font-family: 'Clash Display Variable';
        font-size: 53px;
        font-weight: 600;
        line-height: 79.95px;
        margin-top: 30px;
        margin-left: 30px;
    }
    
    .pman p{
        margin-top: 30px;
        width: 90%;
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        margin-left: 35px;
        color: #FFFFFF;
    }

    .girl{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .study{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
        margin-top: 40px;
        margin-left: 20px;
    }


    .R10{
        width: 100%;
        height: 550px;
        margin-top: 100px;
        color: #fff;
        background-color: #00070F;
    }
    
    .sub-R10{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
        width: 100%;
    }
    
    .cat{
        text-align: center;
        margin-top: 20px;
    }
    
    .cat p{
        width: 100%;
        font-family:'Mulish', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin: auto;
        line-height: 25.1px
    }
    
    .life{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 70%;
    }
    
    .wolf h1{
        text-align: center;
        align-items: center;
    }
    
    
    .wolf p{
        color:#FFFFFF;
        font-family:'Mulish', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 20.08px;
        text-align: center;
        align-items: center;
    }
    
    
    .linked, .twitter, .face, .insta{
        border: 2px solid;
        border-radius: 500px;
        padding: 5px;
    }
    
    .finally{
        background-color: #002099;
        height: 100px;
        color: #ffff;
        padding: 30px 50px;
        width: 100%;
        font-size: 12px;
    }
}